# URL da API Backend NestJS
VITE_API_URL=http://localhost:3000

# Chave Pública VAPID para Web Push Notifications
VITE_VAPID_PUBLIC_KEY=BGMbSbEroytm7k9H7Hq0IJ-uWTFvfgk8j8wauiRp5xJxwjcswLXXfPPy2tfqCzmhT9eqnAiCPYq8W-tU99AAVFk
